<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.appimake.simpletutorial">

    <application>
        <activity
                android:name=".SimpleTutorial"
                android:label="@string/lib_name"
                android:theme="@style/STTheme">
        </activity>
    </application>

</manifest>